.sort {
  display: flex;
  align-items: center;

  i {
    img {
      display: flex;
      text-align: center;
      padding-right: 8px;
    }
  }

  p {
    font-size: 14px;
    line-height: 17px;

    span {
      cursor: pointer;
      border-bottom: 1px dashed #fe5f1e;
      color: #fe5f1e;
    }
  }
}
