.sort-nav {
  display: flex;
  li {
    list-style: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 13px 30px;
    background: #f9f9f9;
    border-radius: 30px;

    cursor: pointer;
    transition: background-color 0.2s linear, border-radius 0.3s linear;

    a:active {
      color: #fff;
      background-color: #282828;
      border-radius: 30px;
    }
  }
  li:not(:last-child) {
    margin-right: 9px;
  }

  li:hover {
    color: #fff;
    background-color: #3f3f3f;
    border-radius: 30px;
  }
}
